@import './base.css';
body{
  font-family: var(--mainFont);
  background-color: hsl(0, 0%, 93%);
}
.header{

padding: 20px 5px;
box-shadow: 0px 25px 50px;
position: sticky;
}

.header .menu {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
}
 .logo img{
    width: 35px;
}
.header .logo a{
  color: var(--mainColor)
}
.navbar ul {
    display: flex;  
    gap: 40px;
}

.navbar ul li a {
    color: #101928;
}
.active{
    font-weight: 900;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  
}
.buttons a{
   
    font-family: var(--subfont);
    border-radius: 9px;
    padding: 10px 50px;
    border: 1.5px solid var(--mainColor);
}
.buttons .login{
color: var(--mainColor);
font-weight: 600;
}
.buttons .Register{
color: #fff;
background-color: var(--mainColor); 
}

/* header media */

@media screen and (max-width:992px){
    .navbar,
    .buttons{
        display: none;
    }
    .header .menu{
        display:block;
      
    }
    
}
@media screen and (max-width:576px){
    .container{
        width: calc(100% - 60px);
        
        }
    
}
.Register{
    padding: 10px;
    background-color: #fff;
    gap: 50px;
}

.start :nth-child(1){
    color: var(--mainColor);

}
.start :nth-child(2){

    font-weight: bold;
    font-size: 50px;
}
.start :nth-child(3){
    color: #969696;
}

.start{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 18px ;
}
.links {
    display: flex;
    
}

.links img{
    height: 22px;
    width: 22px;
    padding-left: 20px;
    padding-right: 3px;
}
.links :nth-child(1){
    font-family: var(--subfont);
    border-radius: 9px;
    padding: 10px 50px;
    color: #fff;
    background-color: var(--mainColor); 
    
}

.start .links :nth-child(2){
margin-top: 8px;
padding-right: 5px;
}
.links :nth-child(3){
    font-family: var(--subfont);
    font-weight: bold;
    margin-top: 9px;
    color:black
    }

.studing{
    width:calc(60% - 50px);
    
}
 .studing img{
    width: 100%;
    height: auto;
    }



 @media screen and (max-width: 1050px){
     .Register .start{
 width: 100% ;
text-align: center;
    }
.links{
   justify-content: center;
}
.studing {
 
  width: 100%;
}
    }



.prop{
    background-color:#F5F5F5 ;
    
}
.prop .row {
 padding: 80px 0px;
 
   
}
.intro{
    width: calc((100% - 20px) / 3);
    gap :15px


}
.intro :nth-child(1){
    color: var(--mainColor);
}

.intro :nth-child(3){
color: #969696;
}
.img-info{
    width: calc(2 * ( (100% - 20px) / 3));
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    
}


.person{
    width: calc((100% - 200px) /3);
    background-color: var(--mainColor);
    color: #fff;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    border-radius: 5%;
   
}
.person img {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 50%;
    background-color: #fff;
}

.person :nth-child(2){
    padding-bottom: 20px ;
    font-family: var(--subfont);
    font-weight: bold;

}
.person :nth-child(3){
    color: #DDDDDD;
}
.arrow {
    margin-left: auto;
    
}




@media screen and (max-width: 968px){
.prop .intro {
text-align: center;
width: 100%;
}
    
     .person{
    width: 100%;
        }
}






.definition{
    color:#fff ;
    background: linear-gradient(to right, #545BE8 0%, #272DB0 100%);
    padding: 20px;
}

.left-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
.left-side :nth-child(1){
    color: #F0C932;
}
.down {
    display: flex;
    gap: 100px;
}
.left-side :nth-child(2){
    font-size: 35px;
}
.left-side :nth-child(3){
    font-size: 15px;
    color:#DDDDDD
}
.left-side .down :nth-child(2){
    color: #fff;
    font-size:18px;
}
.right-side{
    width: 50%;
}
.right-side img {

    width: 100%;
}

@media screen and (max-width: 1050px){
   .definition .right-side{
width: 100% ;

   }
   .definition .left-side{
    width: 100% ;
   }
}





.course-card {
    position: relative;
}
.course-info{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    
    align-items: flex-start;
}
.course-info span:last-of-type{
align-self: flex-end;
margin: 20px;
font-family: var(--mainFont);

}
.course-info span:first-of-type{

    background-color: var(--mainColor);
    padding: 10px;
    margin-top: 20px;
}
.coursses .row{
    gap: 40px;
    align-items: flex-start;
}
.coursses-items ,
 .course-description{
    width: calc((100% - 40px) /2);
}
.course{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc((100% - 20px) /2);

}
.course img{
    width: 100%;
    filter: brightness(50%);
    display: flex;
}
.coursses-items{
display: flex;
flex-wrap: wrap;
 gap: 20px;
}
.course-details{
    padding: 20px;
}
.course-details .row:nth-child(2){
    justify-content: flex-start;
    color :#969696
}

.coursses{
    padding: 20px;
    background-color: #fff;
}
.course-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.course-description :nth-child(1){
    color: var(--mainColor);
}
.course-description :nth-child(3){
    padding-top: 40px;
    color: #969696;
}
.course-description :nth-child(4){
    font-family: var(--subfont);
    border-radius: 9px;
    padding: 10px 50px;
    color: #fff;
    background-color: var(--mainColor); 
    width: 60px;
}
@media screen and (max-width:1200px){
    .coursses-items{
        width: 100%;
    }
}
@media screen and (max-width:768px){
 .course {
    width: 100%;
 }
}



.testimonial{
    box-shadow: 0px 8.2px 8.2px rgba(0,0,0,0.15) ;
    padding: 20px;
    box-sizing: border-box;
    width: calc((100% - 40px ) /2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: -20px 20.23719596862793px 6.23719596862793px rgba(0, 0, 0, 0.1);
    position: relative;

}
.testimonials{
    padding: 50px 0;
    background-color: #fff;
    gap: 10PX;
}
.testimonials .row {
gap: 40px;
}
.testimonials h2{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 30PX;

}
.testimonial::after {
    content: '';
position: absolute;
top: 0;
right: 0;
border-top: 50px solid #F4F4F4;

border-bottom: 50px solid transparent;
border-left: 50px solid transparent;
}


.user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    gap: 20PX;

}

.user-info{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.user-data{
    display: flex;
    flex-direction: column;
    gap :10px

}
.star{
    display: flex ;
    gap: 2px;
    flex-wrap: wrap;
}

@media screen and (max-width:768px){
    .testimonial{
      
        width: 100%
    
    }
}




.footer {
    background-color: #393e46;
    color: #fff;
    padding: 95px 0;
}
.footer a{
    color: #fff; 
}
.footer-left-side{
width: calc((100% - 20px) / 2);
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 18px;

}
.footer-left-side .icons img{
    border: 1px solid #fff;
    height: 20px;
    width: 20px;
    padding: 7px;
}

.footer-right-side{

display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
width: calc((100% - 20px)  /2);
}
.footer-right-side .footer-item{
    display: flex;
    flex-direction: column;
    gap: 14px;
  

}
.footer-right-side nav{
    display: flex;
    flex-direction: column;
    gap: 7px;
    flex-wrap: wrap;

}
@media screen and (max-width:1200px){
    .footer .row{
        gap: 12px;

    }
    .footer-right-side {
        width: 100%;
    }
      .footer-right-side {
        width: 100%;
      }
    }
    @media screen and (max-width:768px){
    .footer-item{
        width: 50%;
        margin-bottom: 25px;
    }
        }
        @media screen and (max-width:410px){
            .footer-item{
                width: 100%;
                text-align: center;
              
            }
                }