@import './base.css';
body{
  font-family: var(--mainFont);
  background-color: hsl(0, 0%, 93%);
}
.header{
background-color: white;
padding: 18px 0;
}

.header .menu {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
}
 .logo img{
    width: 35px;
}
.header .logo a{
  color: var(--mainColor)
}
.navbar ul {
    display: flex;  
    gap: 40px;
}

.navbar ul li a {
    color: #101928;
}
.active{
    font-weight: 900;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  
}
.buttons a{
   
    font-family: var(--subfont);
    border-radius: 9px;
    padding: 10px 50px;
    border: 1.5px solid var(--mainColor);
}
.buttons .login{
color: var(--mainColor);
font-weight: 600;
}
.buttons .Register{
color: #fff;
background-color: var(--mainColor); 
}

/* header media */

@media screen and (max-width:992px){
    .navbar,
    .buttons{
        display: none;
    }
    .header .menu{
        display:block;
      
    }
    
}
@media screen and (max-width:576px){
    .container{
        width: calc(100% - 60px);
        
        }
    
}
.footer {
    background-color: #393e46;
    color: #fff;
    padding: 95px 0;
}
.footer a{
    color: #fff; 
}
.footer-left-side{
flex-grow: 1;
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 18px;
width: 260px;
}
.footer-left-side .icons img{
    border: 1px solid #fff;
    height: 20px;
    width: 20px;
    padding: 7px;
}

.footer-right-side{
flex-grow: 1;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.footer-right-side .footer-item{
    display: flex;
    flex-direction: column;
    gap: 14px;
  

}
.footer-right-side nav{
    display: flex;
    flex-direction: column;
    gap: 7px;
    flex-wrap: wrap;

}
@media screen and (max-width:1200px){
    .footer .row{
        gap: 12px;

    }
    .footer-right-side {
        width: 100%;
    }
      .footer-right-side {
        width: 100%;
      }
    }
    @media screen and (max-width:768px){
    .footer-item{
        width: 50%;
        margin-bottom: 25px;
    }
        }
        @media screen and (max-width:410px){
            .footer-item{
                width: 100%;
              
            }
                }